/*Pure Vanilla JavaScript Image Gallery Top 50 Covers*/
.top-covers
{
  display: grid;
  grid-template-areas:
  'tcHeader tcHeader tcHeader'
  'tcContainerL tcContainerM tcContainerR';
  grid-gap:20px;

}
.top-covers-header
{
  grid-area: tcHeader;
}
.top-covers-container-l
{
  grid-area: tcContainerL;
  max-width: 400px;
  margin:auto;
  border:#fff solid 3px;
  background:#fff;
}
.top-covers-main-img-l img,
.top-covers-imgs-l img
{
  width:100%;
}
.top-covers-imgs-l
{
  display:grid;
  grid-gap:5px;
  grid-template-columns:repeat(5, 1fr);
}
/*Fade in animation*/
@keyframes tcFadeIn{
  to{
    opacity:1;
  }
}
.top-covers-fade-in{
  opacity:0;
  animation:tcFadeIn 0.7s ease-in forwards;
}
/*Middle Top 50 Covers Image Gallery*/
.top-covers-container-m
{
  grid-area: tcContainerM;
  max-width: 400px;
  margin:auto;
  border:#fff solid 3px;
  background:#fff;
}
.top-covers-main-img-m img,
.top-covers-imgs-m img
{
  width:100%;
}
.top-covers-imgs-m
{
  display:grid;
  grid-gap:5px;
  grid-template-columns:repeat(5, 1fr);
}
/*Right Top 50 Covers Image Gallery*/
.top-covers-container-r
{
  grid-area: tcContainerR;
  max-width: 400px;
  margin:auto;
  border:#fff solid 3px;
  background:#fff;
}
.top-covers-main-img-r img,
.top-covers-imgs-r img
{
  width:100%;
}
.top-covers-imgs-r
{
  display:grid;
  grid-gap:5px;
  grid-template-columns:repeat(5, 1fr);
}
/*Fade in animation*/
@keyframes tcFadeIn{
  to{
    opacity:1;
  }
}
.top-covers-fade-in{
  opacity:0;
  animation:tcFadeIn 0.7s ease-in forwards;
}
/*END Pure Vanilla JavaScript Image Gallery Top 50 Covers*/
