@import url("https://fonts.googleapis.com/css?family=BioRhyme");
@import url("https://fonts.googleapis.com/css?family=Cabin");
/*
$section-padding:*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif; }

body {
  background: linear-gradient(30deg, #252C38, #19112C);
  background-attachment: fixed;
  background-position: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #3B02D0;
  line-height: 1.4;
  letter-spacing: 0.3rem; }

.top-banner {
  padding: 10px 30px; }

.banner-img-size {
  width: 150px;
  height: 100px;
  border-radius: 50%; }

/*HEADER NAVIGATION*/
header {
  padding: 10px 30px;
  position: absolute;
  background: #291361;
  top: 133px;
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

header .nav-logo {
  color: #637cce;
  height: 50px;
  line-height: 50px;
  font-size: 2rem;
  float: left;
  font-weight: bold; }

header nav {
  float: right; }
  header nav ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  header nav ul li {
    list-style: none; }
  header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #F4F6F7;
    text-decoration: none;
    display: block; }
  header nav ul li a:hover,
  header nav ul li a.active {
    color: #F4F6F7;
    background: #252C38; }

.nav-menu-toggle {
  color: #F4F6F7;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none; }

/*END HEADER NAVIGATION*/
main {
  margin: 5px 25rem;
  background-color: linear-gradient(30deg, #252C38, #19112C); }

.bg-full {
  background-image: url("../img/bgfull2.png");
  background-size: cover;
  background-position: center, 100% 30em;
  -webkit-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
  height: 100vh; }

/**/
.wrapper-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  background: #fff;
  width: 6fr;
  height: 40vh;
  max-width: 100%;
  margin: 30px auto;
  padding: 5px; }

.recent-box {
  background-color: #637cce;
  background-size: cover;
  background-position: center;
  background-repeat: none;
  -webkit-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.3); }

.recent-box.collect-banner,
.recent-box.leisure-banner,
.recent-box.podcast-banner {
  grid-column: span 2;
  background: #000; }

.recent-box.collect-end,
.recent-box.leisure-end,
.recent-box.podcast-end {
  grid-column: span 2;
  background: #291361; }

/*MEDIA Query*/
@media (max-width: 991px) {
  header {
    padding: 0 20px; }
  .nav-menu-toggle {
    display: block; }
  header nav {
    position: absolute;
    width: 100%;
    height: calc(50vh - 50px);
    background: #291361;
    top: 50px;
    left: -100%;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    header nav ul {
      display: block;
      text-align: center; }
    header nav ul li a {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  header nav.active {
    left: 0; } }
