@import url("https://fonts.googleapis.com/css?family=BioRhyme");
@import url("https://fonts.googleapis.com/css?family=Cabin");
/*
$section-padding:*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif; }

body {
  background: linear-gradient(30deg, #252C38, #19112C);
  background-attachment: fixed;
  background-position: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #3B02D0;
  line-height: 1.4;
  letter-spacing: 0.3rem; }

.top-banner {
  padding: 10px 30px; }

.banner-img-size {
  width: 150px;
  height: 100px;
  border-radius: 50%; }

/*HEADER NAVIGATION*/
header {
  padding: 10px 30px;
  position: absolute;
  background: #291361;
  top: 133px;
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

header .nav-logo {
  color: #637cce;
  height: 50px;
  line-height: 50px;
  font-size: 2rem;
  float: left;
  font-weight: bold; }

header nav {
  float: right; }
  header nav ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  header nav ul li {
    list-style: none; }
  header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #F4F6F7;
    text-decoration: none;
    display: block; }
  header nav ul li a:hover,
  header nav ul li a.active {
    color: #F4F6F7;
    background: #252C38; }

.nav-menu-toggle {
  color: #F4F6F7;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none; }

/*END HEADER NAVIGATION*/
main {
  margin: 5px 20em;
  background-color: linear-gradient(30deg, #252C38, #19112C); }

.bg-full {
  background-image: url("../img/bgfull2.png");
  background-size: cover;
  background-position: center, 100% 30em;
  -webkit-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 2px;
  padding: 0px 20px;
  z-index: 2; }

.bg-quote p {
  font-size: 4rem;
  /*soft emboss text css*/
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3); }

/**/
#RWCollects h2 {
  margin-top: 10vh; }

.wrapper-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
  background: linear-gradient(30deg, #252C38, #19112C);
  height: 80vh;
  margin: 30px auto;
  -o-object-fit: cover;
  object-fit: cover; }

.recent-box {
  position: relative;
  width: 100%;
  height: 100%;
  border-right: 1px solid #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
  overflow: hidden; }

div.content {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  opacity: 0; }

.recent-box:hover .content {
  bottom: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  opacity: 1; }

.text-banner {
  font-family: "BioRhyme", sans-serif;
  font-size: 5em;
  margin: 0;
  /*soft emboss text css*/
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 2px 8px 6px rgba(71, 6, 6, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3); }

.recent-box.collect-banner {
  background-image: url(../img/banner-collect.jpeg); }

.recent-box.leisure-banner {
  background-image: url(../img/banner-leisure.jpeg); }

.recent-box.podcast-banner {
  background-image: url(../img/banner-podcast.jpeg); }

.recent-box.collect-news {
  background-image: url("../img/collect-minimates.jpg"); }

/*essential styles:
these make the slideshow work*/
.collect-wanted {
  position: relative; }

#CollectSlides {
  position: relative;
  height: 100%;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  max-width: 100%; }

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s; }

.showing {
  opacity: 1;
  z-index: 2; }

.controls {
  display: none; }

/*End of required slide show markup*/
.slide {
  font-size: 40px;
  padding: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #333;
  color: #fff;
  background-size: cover; }

.slide:nth-of-type(1) {
  background-color: red;
  background-image: url("../img/wanted-mlblackpanther.jpg"); }

.slide:nth-of-type(2) {
  background-color: yellow;
  background-image: url("../img/wanted-sunman.jpg"); }

.slide:nth-of-type(3) {
  background-color: blue;
  background-image: url("../img/wanted-pinhead.jpeg"); }

.controls {
  background: #291361;
  color: #fff;
  border: none;
  padding: 2px 0px;
  font-size: .7rem;
  cursor: pointer;
  border: 2px solid #637cce;
  margin: 5px 0px 0px 2px;
  width: 10%; }

.controls:hover,
.controls:focus {
  background: #eee;
  color: #333; }

.buttons {
  position: absolute;
  left: 20%;
  top: 90%;
  z-index: 10;
  font-size: 0px;
  z-index: 16;
  width: 80%; }

/*End of Slide Show Code*/
.overlay-wanted {
  position: absolute;
  max-width: 100%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 15; }

/*Background Images for each Grid Column*/
/*Collect Section*/
.collect-minimates {
  background: url("../img/collect-minimates.jpg");
  background-size: cover;
  background-position: left; }

/*Leisure Section*/
.leisure-reading-01 {
  background: url("../img/leisure-reading-01.png");
  background-size: cover;
  background-position: left; }

/*Podcast Section*/
/*MEDIA Query*/
@media (max-width: 1450px) {
  header {
    padding: 0 20px; }
  .nav-menu-toggle {
    display: block; }
  header nav {
    position: absolute;
    width: 100%;
    height: calc(50vh - 50px);
    background: #291361;
    top: 50px;
    left: -100%;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    header nav ul {
      display: block;
      text-align: center; }
    header nav ul li a {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  header nav.active {
    left: 0; }
  main {
    margin: 5px 10px; }
  .bg-full {
    display: none; } }
