//Variables
$body-bg: linear-gradient(30deg,#252C38, #262626);
$main-font: 'Cabin', sans-serif;
$secondary-font: 'BioRhyme', sans-serif;

$primary-color: #5B6677;
$secondary-color: #fff8;
$light-color: #F4F6F7;
$dark-color: #252C38;
$shadow: 0 1px 5px rgba(104,104,104, 0.8);
$transparent: rgba(0,0,0,.8);

$main-container: 5px 20em;
$section-container: 0px 5em;

$banner-collect: url(../img/banner-collect.jpg);
$banner-leisure: url(../img/banner-leisure.jpg);
$banner-fav10: url(../img/banner-fav10.jpeg);
$banner-podcast: url(../img/banner-podcast.jpeg);
/*
$section-padding:*/