//Variables
$body-bg: linear-gradient(30deg,#000, #19112C);
$main-font: 'Do Hyeon', sans-serif;

$primary-color: #291361;
$secondary-color: #637cce;
$light-color: #f4f4f4;
$dark-color: #333;
$shadow: 0 1px 5px rgba(104,104,104, 0.8);
$transparent: rgba(0,0,0,.8);
/*
$container:
$section-padding:*/