@import url('https://fonts.googleapis.com/css?family=BioRhyme');
@import url('https://fonts.googleapis.com/css?family=Cabin');
@import url('comics.scss');
@import url('fav10.scss');
@import 'variables';

//Resets
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    box-sizing: border-box;
    font-family: $main-font;
    border: 5px solid $transparent;
}
body {
    background: $body-bg;
    background-attachment: fixed;
    background-position: center;
    font-size: 1.2rem;
    font-weight: bold;
    color:#3B02D0;
    line-height: 1.4;
    letter-spacing:0.3rem;
}
a{
  color: yellow;
  text-decoration: none;
}
/*HEADER NAVIGATION*/
header
{
  padding: 10px 30px;
  .header-img-size
    {
      width:150px;
      height:100px;
      border-radius: 50%;
    }
}
nav
{
  width:100%;
  background:$transparent;
  border-top:1px solid rgba(255,255,255,.2);
  border-bottom:1px solid rgba(255,255,255,.2);
  position: sticky;
  top:0;
  z-index: 5;
  
  ul{
      display:flex;
      margin:0 auto;
      padding:0 50px;
    }

    ul li{
      
      list-style:none;
      display:block;
      position:relative;
      padding:0 10px;
      transition: all .5s ease-out;
    }

    ul li ul{
      
      display: none;
      position: absolute;
      left:0;
      background: rgba(255,255,255,.9);
    }
    ul li.active ul
      {
        display: block;
      }
    ul li ul li
      {
        display:block;
        width:300px;
      }
    ul li:hover
      {
        background:$secondary-color;
        color: $light-color;
      }
    ul li a
      {
        display:block;
        color:$light-color;
        text-decoration:none;
        text-transform: uppercase;
        font-weight:bold;
        line-height:2.2em;
      }
      ul li ul li a{
        color:$dark-color;
      }
  
}
.toggle
{
  width:100%;
  padding:10px 20px;
  background:#333;
  text-align:right;
  box-sizing: border-box;
  color:#fff;
  font-size:1.3em;
  display:none;
}
.toggle i
{
  cursor:pointer;
}
/*END HEADER NAVIGATION*/
main{
  margin:$main-container;
  background-color:$body-bg;

  h2{
    font-size: 3em;
    border-bottom: 4px solid $primary-color;
    text-transform: uppercase;

    a{
      text-decoration: none;
      color: #5B6677;
    }

    a:hover {
      -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
      -moz-animation: neon2 1.5s ease-in-out infinite alternate;
      animation: neon2 1.5s ease-in-out infinite alternate;
    }
  }
  @keyframes neon2 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1A, 0 0 70px #FFDD1A, 0 0 80px #FFDD1A, 0 0 100px #FFDD1A, 0 0 150px #FFDD1A;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1A, 0 0 35px #FFDD1A, 0 0 40px #FFDD1A, 0 0 50px #FFDD1A, 0 0 75px #FFDD1A;
    }
  }
}

#Fav10{
  margin:$section-container;
  background-color:$body-bg;
}
.bg-full{
  background-image: url('../img/bgfull2.png');
  background-size: cover;
  background-position:center, 100% 30rem;
  box-shadow: var(--shadow);
  height:100vh;
  min-width: 100%;
  min-height: 100%;
  display:flex;
  flex-direction:row;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 2px;
  padding:80px 40px;
  z-index: 2;
}
.bg-quote p{
  font-size: 3em;
  /*soft emboss text css*/
  text-transform: uppercase;
  color: rgba(252, 247, 247, 0.6);
  text-shadow: 2px 8px 6px rgba(252, 252, 252, 0.2),
                 0px -5px 35px rgba(252, 252, 252, 0.3);
}

/*Section Style*/
#SectionHome.container{
  width: 80vw;
  height:100vh;
  display:flex;
}
#SectionHome.container .box{
  width:20vw;
  text-align: center;
  line-height:60vh;
  flex-grow:1;
  background-size:cover;
  background-position: center;
  transition: 1s;
  overflow: hidden;
}
#SectionHome h1{
  margin:0;
  padding: 0;
  line-height: 76vh;
  font-size: 2em;
  background:rgba(0,0,0,.8);
  transition: .5s;
}
#SectionHome h1 span{
  background: rgba(255,255,255,0);
  width:100%;
  transition:1s;
  color:#fff;
  padding:25px 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#SectionHome .box:hover h1 span{
  color:#262626;
  background: rgba(255,255,255,0.8);
  letter-spacing: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
#SectionHome .box:hover h1{
  background:rgba(0,0,0,0);
}
#SectionHome .box:hover{
  width:100vw;  
}
#TopGenre.container .box:nth-child(1){
  background: url(1.jpg);
}
#TopGenre.container .box:nth-child(2){
  background: url(2.jpg);
}
#TopGenre.container .box:nth-child(3){
  background: url(3.jpg);
}
#TopGenre.container .box:nth-child(4){
  background: url(4.jpg);
}
#TopGenre.container .box:nth-child(5){
  background: url(5.jpg);
}

/*End of Section Home Style*/
.wrapper-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(4,minmax(500px,2fr));
  grid-gap: 30px;
  background:$transparent;
  border: 15px solid black;
  margin: 30px auto;
  object-fit:cover;
}
.recent-box{
    position: relative;
    width:100%;
    height:100%;
    border-right: 1px solid #000;
    box-sizing:border-box;
    transition: 0.5s;
    text-align:center;
    overflow:hidden;
    h1{
      color:$secondary-color;
      width:100%;
      background-color: rgba(#000, 0.9);
      padding-bottom: 4px;
    }
}
.recent-box:hover .content-home{
  bottom:0;
  transition:0.5s;
  transition-delay:0.5s;
  opacity:1;

}
div.content-home{
  position:absolute;
  bottom:-100%;
  left:0;
  width:100%;
  background:rgba(0,0,0,.8);
  box-sizing:border-box;
  color:#fff;
  opacity:0;
}
.text-banner{
  font-family: $secondary-font;
  font-size: 3em;
  margin: 0;
  background:rgba(0,0,0,.8);
  /*soft emboss text css*/
  text-transform: uppercase;
  color: rgba(0,0,0,0.6);
  text-shadow: 2px 8px 6px rgba(71, 6, 6, 0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
}

.recent-box.collect-banner{
  background-image: $banner-collect;
  background-size: cover;
}
.recent-box.leisure-banner{
  background-image: $banner-leisure;
  background-size: cover;
}
.recent-box.podcast-banner{
  background-image: $banner-podcast;
  background-size: cover;
}
.recent-box.fav10-banner{
  background-image: $banner-fav10;
  background-size: cover;
}

/*essential styles:
these make the slideshow work*/

#CollectSlides{
  position: relative;
	height: 100%;
	padding: 0px;
	margin: 0px;
  list-style-type: none;
  max-width: 100%;
}
.slide{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
  height: 100%;
  object-fit: cover;
	opacity: 0;
	z-index: 1;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}
.showing{
	opacity: 1;
	z-index: 2;
}
.controls{
	display: none;
}
/*End of required slide show markup*/
.slide{
	font-size: 40px;
	padding: 35px;
	box-sizing: border-box;
	background: #333;
  color: #fff;
  background-size: cover;
}
.slide:nth-of-type(1){
  background-color:red;
  background-image: url("../img/wanted-swtbs-finn-17.jpg");
}
.slide:nth-of-type(2){
  background-color:yellow;
  background-image: url("../img/wanted-mlv-thevision.jpg");
}
.slide:nth-of-type(3){
  background-color:blue;
  background-image: url("../img/wanted-jason.jpeg");
}
.slide:nth-of-type(4){
  background-color:blue;
  background-image: url("../img/wanted-leatherface.jpeg");
}
.slide:nth-of-type(5){
  background-color:blue;
  background-image: url("../img/wanted-myers.jpeg");
}
.slide:nth-of-type(6){
  background-color:blue;
  background-image: url("../img/wanted-machinerobo-mrdx-01.jpg");
}
.controls{
  background: $primary-color;
  color: green;
  border: none;
  padding: 2px 0px;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid $secondary-color;
  margin: 5px 0px 0px 2px;
  width: 10%;
}
.controls:hover,
.controls:focus{
  background: green;
  color: #333;
}
.buttons{
  position: absolute;
  left: 40%;
  top: 85%;
  z-index: 10;
  font-size: 0px;
  z-index: 16;
  width: 80%;
}
/*End of Slide Show Code*/

.full-run-total{
  display: grid;
  width: 9em;
  height: 9rem;
  color: rgba(255, 255, 255, 0.9);
  margin: 1rem;
  padding: .8rem;
  display: inline-block;
  background: rgba(99, 38, 133, 0.4);
  border-radius: (2px);
  box-shadow: (inset 0 2px 8px -2px #000);
}
.full-run-digit{
  display: inline-grid;
  height: 4rem;
  width: 2.1em;
  overflow: hidden;
}
.digit-container{
  font-size: 4rem;
  line-height:4rem;
  
  -webkit-animation:slide infinite linear;
  animation: slide 1 linear;
  animation-play-state: paused;
  
}
.digit-container:hover {
  /* Toggle our animation play state to running when we are hovering over our sticker */
  animation-play-state: running;
  cursor: progress;
}
.digit-one {
  -webkit-animation-duration: 1500ms;
   animation-duration: 1500ms;
}
.digit-ten {
  -webkit-animation-duration: 1400ms;
   animation-duration: 1400ms;
}
@-webkit-keyframes slide {
  from {
    -webkit-transform: translateY(-10em);
  }

  to {
    -webkit-transform: translateY(0);
  }
}
@keyframes slide {
  from {
    transform: translateY(-10em);
  }

  to {
    transform: translateY(0);
  }
}
/*TICKET TAPE CODE*/
.ticker-wrap {  
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  background-color: rgba(#000, 0.9); 
  padding-left: 100%;
  box-sizing: content-box;
.ticker {

  display: inline-block;
  height: 4rem;
  line-height: 4rem;  
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  will-change: auto;

  -webkit-animation-iteration-count: infinite; 
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
 -webkit-animation-name: ticker;
         animation-name: ticker;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;

  &__item {

    display: inline-block;

    padding: 0 2rem;
    font-size: 2rem;
    color: white;   

  }

}

.in-collection{
  background-color: green;
}

}
@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.overlay-wanted{
  position:absolute;
  max-width: 120%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 15;
}
/*Background Images for each Grid Column*/
/*Collect Section*/
.collect-minimates{
  background: url("../img/collect-minimates.jpg");
  background-size: cover;
  background-position: left;
}
.collect-videogame{
  background: url("../img/collect-videogame.png");
  background-size: cover;
  background-position: left;
  background-color:orange;
}
.collect-full-run{
  background: url("../img/collect-full-run.jpg");
  background-size: cover;
  background-position: left;
}
.collect-comics-01{
  background: url("../img/collect-full-run.jpg");
  background-size: cover;
  background-position: left;
}
.collect-comics-02{
  background: url("../img/collect-01.jpg");
  background-size: cover;
  background-position: left;
}
.collect-milestone-run{
  background: url("../img/collect-milestone-run.jpg");
  background-size: cover;
  background-position: left;
}
/*Leisure Section*/
.leisure-reading-01{
    background:url("../img/leisure-comic-01.png");
    background-size:cover;
    background-position:left;
}
.leisure-reading-ff2018{
  background:url("../img/leisure-comic-ff2018.jpg");
  background-size:cover;
  background-position:center;
}
.leisure-binging-jojo{
  background:url("../img/leisure-binging-jojo.jpg");
  background-size: cover;
  background-position: center;
}
.leisure-binging-ahp{
  background:url("../img/leisure-binging-ahp.jpg");
  background-size:cover;
  background-position: left;
}
.leisure-playing-stwiy{
  background:url("../img/leisure-playing-stwiy.jpg");
  background-size: cover;
  background-position: center;
}
.leisure-stream-h3hoe{
  background:url("../img/leisure-stream-h3hoe.jpg");
  background-size: cover;
  background-position: center;
}
.leisure-stream-dhrftg{
  background:url("../img/leisure-stream-dhrftg.jpg");
  background-size: cover;
  background-position: center;
}
.leisure-stream-swtlj{
  background:url("../img/leisure-stream-swtlj.jpg");
  background-size:cover;
  background-position:center;
}
.leisure-binging-ctas{
  background:url("../img/leisure-binging-ctas.jpg");
  background-size: cover;
  background-position: center;
}
/*Fav Top 10*/
.fav10-scifi{
  background:url("../img/fav10-scifi-bg.jpg");
  background-size:cover;
  background-position:left;
}
.fav10-horror{
  background:url("../img/fav10-horror-bg.jpg");
  background-size:cover;
  background-position:left;
}
.fav10-dca{
  background:url("../img/fav10-dca-bg.jpg");
  background-size:cover;
  background-position:left;
}
.fav10-anime{
  background:url("../img/fav10-anime-bg.png");
  background-size:cover;
  background-position:left;
}
.fav10-mcu{
  background:url("../img/fav10-mcu-bg.jpg");
  background-size:cover;
  background-position:left;
  
}
/*****************************************************************************************************************************************************/
/*                                                        Diamond Layout MCU Page                                                                   */
/*****************************************************************************************************************************************************/
#PhaseOne{
  .container{
    margin:40px;
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(300px, 1fr));
    grid-gap:25px;
  }
  .container .box
  {
    position: relative;
    width:100%;
    background:$body-bg;
    margin:5px;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    
  }
  .container .box .imgBox{
    position:relative;
    overflow:hidden;
  }
  .container .box .imgBox img{
    max-width:100%;
    transition:transform 2s;
  }
  .container .box:hover .imgBox img{
    transform:scale(1.2);
  }
  .container .box .details{
    position: absolute;
    font-size:.8em;
    top:10px;
    left:10px;
    bottom:10px;
    right:10px;
    background:rgba(0,0,0,0.8);
    transform:scaleY(0);
    transition:transform .5s;
  }
  .container .box:hover .details{
    transform:scaleY(1);
  }
  .container .box .details .content-mcu{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    text-align: center;
    padding:15px;
    color:#fff;
  }
  .container .box .details .content-mcu h2{
    margin:0;
    padding:0;
    font-size:.8em;
    color:#ff0;
  }
  .container .box .details .content-mcu p{
    margin: 10px 0 0;
    padding:5px;
  }
}


/*****************************************************************************************************************************************************/
/*                                                        Comics Style Sheet                                                                         */
/*****************************************************************************************************************************************************/
.comic-title{
  grid-area: title;
  font-size: 2em;
}
.comic-description{
  grid-area: description; 
}
.comic-description p{
  padding: 20px;
  font-size:.9em;
  margin: 0 0 1.313em;
  text-align: justify;
}
.comic-detail{
  grid-area: detail;
}
.comic-detail p{
  font-size: .7em;
  margin: 0 0 1.313em;
  padding: 20px;
}
.comic-count{
  grid-area: totalCount;
}
.comic-issue{
  grid-area: issue;
}

.comic-wrapper{
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
      "title title"
      "description detail"
      "totalCount totalCount"
      "issue issue";
  background-color: #fff;
  color: #444;
}
/*****************************************************************************************************************************************************/
/*                                                        Common List Page with Style                                                                */
/*****************************************************************************************************************************************************/
#ListGrid{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap:10px;
}

.list-wrapper{
  width:100%;
  height: 300px;
  padding:15px;
  background: #fff;
  box-sizing:border-box;
  border-radius:10px;
  box-shadow: 0 15px 50px rgba(0,0,0,.2);
  
  p{
    margin: 0;
    padding: 0;
    text-align: justify;
    line-height: 22px;
   }
}
.list-wrappper h1{
  margin: 0 0 15px;
  padding: 0;
  font-size: 27px;
}
.list-img-circle{
  width:200px;
  height: 175px;
  background-position: center;
  border-radius: 50%;
  float:left;
  shape-outside: circle();/*The key for this to work*/
  margin: 30px 30px 5px 0;/*How to position the circle or photo*/
}

/*****************************************************************************************************************************************************/
/*                                                        Commom Home Page Style                                                                     */
/*****************************************************************************************************************************************************/
/*****************************************************************************************************************************************************/
/*                                           Pure Vanilla JavaScript Image Gallery Top 50 Covers                                                     */
/*****************************************************************************************************************************************************/
/*Pure Vanilla JavaScript Image Gallery Top 50 Covers*/
.top-covers
{
  display: grid;
  grid-template-areas:
  'tcHeader tcHeader tcHeader'
  'tcContainerL tcContainerM tcContainerR'
  'tcContainer2L tcContainer2R tcContainer2R';
  grid-gap:20px;

}
.top-covers-header
{
  grid-area: tcHeader;
}
.top-covers-container-l
{
  grid-area: tcContainerL;
  max-width: 400px;
  margin:auto;
  border:#fff solid 3px;
  background:#fff;
}
.top-covers-main-img-l img,
.top-covers-imgs-l img
{
  width:100%;
}
.top-covers-imgs-l
{
  display:grid;
  grid-gap:5px;
  grid-template-columns:repeat(5, 1fr);
}
/*Fade in animation*/
@keyframes tcFadeIn{
  to{
    opacity:1;
  }
}
.top-covers-fade-in{
  opacity:0;
  animation:tcFadeIn 0.7s ease-in forwards;
}
/*Middle Top 50 Covers Image Gallery*/
.top-covers-container-m
{
  grid-area: tcContainerM;
  max-width: 400px;
  margin:auto;
  border:#fff solid 3px;
  background:#fff;
}
.top-covers-main-img-m img,
.top-covers-imgs-m img
{
  width:100%;
}
.top-covers-imgs-m
{
  display:grid;
  grid-gap:5px;
  grid-template-columns:repeat(5, 1fr);
}
/*Right Top 50 Covers Image Gallery*/
.top-covers-container-r
{
  grid-area: tcContainerR;
  max-width: 400px;
  margin:auto;
  border:#fff solid 3px;
  background:#fff;
}
.top-covers-main-img-r img,
.top-covers-imgs-r img
{
  width:100%;
}
.top-covers-imgs-r
{
  display:grid;
  grid-gap:5px;
  grid-template-columns:repeat(5, 1fr);
}
/*2 Row Right Top 50 Covers Image Gallery*/
.top-covers-container-2r
{
  grid-area: tcContainer2R;
  max-width: 400px;
  margin:auto;
  border:#fff solid 3px;
  background:#fff;
}
.top-covers-main-img-2r img,
.top-covers-imgs-2r img
{
  width:100%;
}
.top-covers-imgs-2r
{
  display:grid;
  grid-gap:5px;
  grid-template-columns:repeat(5, 1fr);
}
/*Fade in animation*/
@keyframes tcFadeIn{
  to{
    opacity:1;
  }
}
.top-covers-fade-in{
  opacity:0;
  animation:tcFadeIn 0.7s ease-in forwards;
}
/*****************************************************************************************************************************************************/
/*                                           END Pure Vanilla JavaScript Image Gallery Top 50 Covers                                                 */
/*****************************************************************************************************************************************************/

/*DC Animation Styles*/
#CollectDCAnimation .container{
  margin:70px;
  display:grid;
  grid-template-columns:repeat(auto-fill, minmax(300px, 1fr));
  grid-gap:35px;
}
/*Podcast Section*/
/*collect_vide_games.html*/
/*Collects video games content boxes*/
.section
{
  text-align:left;
  padding: 50px 80px;
}
.section-light
{
  background-color:$body-bg;
  color:#7EB900;
}
.section-dark
{
  background-color:#7EB900;
  color:#ddd;
}
.ptext
{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:2em;
  letter-spacing:8px;
  text-transform:uppercase;
}
.ptext .border
{
  background-color:#111;
  color:#fff;
  padding:20px;
}
.collectsxboximg, .collectsxbox360img, .collectsxboxoneimg
{
  position:relative;
  opacity:.70;
  background-position: center;
  background-size:cover;
  background-repeat:no-repeat;
  /*fixed = Parallax
    scroll = normal
  */
  background-attachment:fixed;
}
.collectsxboximg
{
  background-image:url('../img/collectsxboximg.png');
  min-height:800px;
}
.collectsxbox360img
{
  background-image:url('../img/collectsxbox360.png');
  min-height:800px;
}
.collectsxboxoneimg
{
  background-image:url('../img/collectsxboxoneimg.png');
  min-height:800px;
}

.container-content{
  display:grid;
  grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));
  grid-gap:10px;
}
.container-content .box-content
{
  position: relative;
  width:100%;
  height:300px;
  background:#7EB900;
  margin:10px;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
}
.container-content .box-content .imgBox-content{
  position:relative;
  overflow:hidden;
}
.container-content .box-content .imgBox-content img{
  max-width:100%;
  transition:transform 2s;
}
.container-content .box-content:hover .imgBox-content img{
  transform:scale(1.2);
}
.container-content .box-content .details-content{
  position: absolute;
  top:10px;
  left:10px;
  bottom:10px;
  right:10px;
  background:rgba(0,0,0,0.8);
  transform:scaleY(0);
  transition:transform .5s;
}
.container-content .box-content:hover .details-content{
  transform:scaleY(1);
}
.container-content .box-content .details-content .content-details{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  text-align: center;
  padding:15px;
  color:#fff;
}
.container-content .box-content .details-content .content-details h2{
  margin:0;
  padding:0;
  font-size:.5em;
  color:#ff0;
}
.container-content .box-content .details-content .content-details p{
  margin: 10px 0 0;
  padding:0;
}

.sidebar-vg {
  grid-area: sidebar-vg;
}

.content-vg {
  grid-area: content-vg;
}

.header-vg {
  grid-area: header-vg; 
}
.wrapper-vg{
display:grid;
grid-gap:35px;
grid-template-columns: 1fr 1fr 35rem;
grid-template-areas:
"sidebar-vg header-vg header-vg"
"sidebar-vg content-vg content-vg"
"sidebar-vg content-vg content-vg";
background-color: #107C10;
  color: #fff;
}
.box-vg {
  background-color: yellow;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 100%;
}

/*MEDIA Query*/
@media (max-width: 1450px){
  body{
    border: 20px solid $transparent;
  }
  header{
    padding: 0 20px;
  }
  .toggle{
    display:block;
  }
  nav ul
  {
    width:100%;
    display:none;
  }
  nav ul li
  {
    display:block;
    text-align: center;
    width:50%;
  }
  nav ul li:hover
  {
    background:$secondary-color;
  }
  .active-sub-menu
  {
    display:block;
  }
  nav ul li ul li{
    display:none;
  }
  nav ul li.active ul
  {
    position:relative;
    display:block;
  }
  nav ul li.active ul li{
    display:flex;
  }
  main{
    margin: 5px 10px;
  }
  .collect-full-run{
    grid-column: span 1;
  }
  .wrapper-vg{
    display:grid;
    grid-gap:10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "sidebar-vg header-vg"
    "sidebar-vg content-vg"
    "sidebar-vg content-vg";
    background-color: #107C10;
      color: #444;
    }
  }