@import url('https://fonts.googleapis.com/css?family=BioRhyme');
@import url('https://fonts.googleapis.com/css?family=Cabin');
@import 'variables';

//Resets
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    box-sizing: border-box;
    font-family: $main-font;
}
body {
    background: $body-bg;
    background-attachment: fixed;
    background-position: center;
    font-size: 1.2rem;
    font-weight: bold;
    color:#3B02D0;
    line-height: 1.4;
    letter-spacing:0.3rem;
}
.top-banner
{
  padding: 10px 30px;
}
.banner-img-size
{
  width:150px;
  height:100px;
  border-radius: 50%;
}
/*HEADER NAVIGATION*/
header{
  padding: 10px 30px;
  position: absolute;
  background:$primary-color;
  top:133px;
  left:0;
  width:100%;
  box-sizing: border-box;
}
header .nav-logo{
  color:$secondary-color;
  height:50px;
  line-height: 50px;
  font-size: 2rem;
  float: left;
  font-weight: bold;
}
header nav{
  float: right;

  ul{
    margin:0;
    padding: 0;
    display: flex;
  }
  ul li{
    list-style: none;
  }
  ul li a{
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: $light-color;
    text-decoration: none;
    display: block;
  }
  ul li a:hover,
  ul li a.active{
    color: $light-color;
    background: $dark-color;
  }
}

.nav-menu-toggle{
  color:$light-color;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}
/*END HEADER NAVIGATION*/
main{
  margin:$main-container;
  background-color:$body-bg;
}
.bg-full{
  background-image: url('../img/bgfull2.png');
  background-size: cover;
  background-position:center, 100% 30em;
  box-shadow: var(--shadow);
  height:100vh;
  display:flex;
  flex-direction:row;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 2px;
  padding:0px 20px;
  z-index: 2;
}
.bg-quote p{
  font-size: 4rem;
  /*soft emboss text css*/
  text-transform: uppercase;
  color: rgba(0,0,0,0.6);
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
}

/**/
.wrapper-grid{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background: #fff;
  width: 1020px;
  height: 80vh;
  max-width: 100%;
  margin: 30px auto;
  padding: 5px;
}
.recent-box{
  background-color: $secondary-color;
  background-size: cover;
  background-position: center;
  background-repeat: none;
  box-shadow: 1px 0 3px rgba(0, 0, 0, .3);
}
.text-banner{
  font-family: $secondary-font;
  font-size: 6rem;
  margin: 0;
  /*soft emboss text css*/
  text-transform: uppercase;
  color: rgba(0,0,0,0.6);
  text-shadow: 2px 8px 6px rgba(71, 6, 6, 0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
}
.recent-box.collect-banner,
.recent-box.leisure-banner,
.recent-box.podcast-banner{
  grid-column: span 2;
  grid-row: span 1;
  display: flex;
  justify-content: center;
  align-items: center;

}
.recent-box.collect-banner{
  background-image: $banner-collect;
}
.recent-box.leisure-banner{
  background-image: $banner-leisure;
}
.recent-box.podcast-banner{
  background-image: $banner-podcast;
}
.recent-box.collect-end,
.recent-box.leisure-end,
.recent-box.podcast-end{
  grid-column: span 2;
  background: $primary-color;
}
/*essential styles:
these make the slideshow work*/
#CollectSlides{
  position: relative;
	height: 300px;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
.slide{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;

	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}
.showing{
	opacity: 1;
	z-index: 2;
}
.controls{
	display: none;
}
/*End of required slide show markup*/
.slide{
	font-size: 40px;
	padding: 40px;
	box-sizing: border-box;
	background: #333;
	color: #fff;
  
  background-size: cover;
}
.slide:nth-of-type(1){
  background-color:red;
}
.slide:nth-of-type(2){
  background-color:yellow;
  background-image: url("../img/wanted-sunman.jpg");
}
.slide:nth-of-type(3){
  background-color:blue;
  background-image: url("../img/wanted-pinhead.jpeg");
}

.controls{
  background: #333;
  color: #fff;
  border: none;
  padding: 10px 0px;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid #fff;
  margin: 5px 0px 0px 5px;
  width: 70px;
}

.controls:hover,
.controls:focus{
  background: #eee;
  color: #333;
}
.collect-wanted{
  position: relative;
}
.buttons{
  position: absolute;
  left: 45px;
  top: 280px;
  z-index: 10;
  font-size: 0px;
  z-index: 16;
}

.overlay-wanted{
  position:absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 15;
}

/*MEDIA Query*/
@media (max-width: 1400px){
  main{
    margin: 0 auto;
  }
}
@media (max-width: 991px){
  header{
    padding: 0 20px;
  }
  .nav-menu-toggle{
    display:block;
  }
  header nav{    
    position: absolute;
    width: 100%;
    height: calc(50vh - 50px);
    background:$primary-color;
    top: 50px;
    left: -100%;
    transition: 0.5s;

    ul{
      display:block;
      text-align: center;
    }

    ul li a{
      border-bottom: 1px solid rgba(0,0,0,.2);
    }
  }

  header nav.active{
    left:0;
  }
}